<div class="container">
  <div class="form-group">
    <label for="ciudad">Ciudad:</label>
    <select id="ciudad" [(ngModel)]="ciudad" class="form-control">
      <option selected="selected">Auto-detectar</option>
      <option value="rosario">Rosario</option>
      <option value="caracas">Caracas</option>
      <option value="toronto">Toronto</option>
      <option value="buenos aires">Buenos Aires</option>
      <option value="cordoba">Cordoba</option>
    </select>
  </div>

  <div class="form-group">
    <button (click)="getForecast(ciudad)" class="btn btn-primary">Pronóstico 5 días</button>
  </div>

  <div class="form-group">
    <button (click)="getCurrent(ciudad)" class="btn btn-primary">Pronóstico hoy</button>
  </div>

  <ul *ngFor="let t of tiempo">
    <li>{{ t.description }}</li>
  </ul>
</div>
